# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
# *.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Translations
#*.mo
#*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/build/

# PyBuilder
target/

# PyCharm files
.idea/
# GitEye files
/.project

# qthelp index directory
oPB/help/.opsipackagebuilder

# compiled Debian packages
linux/*.deb

# innosetup script with old scripteditor
/opb+scripted.iss

# mac finder
.DS_Store

# sed copies
*.sedcopy

# version patch exe, see: http://www.codeproject.com/Articles/37133/Simple-Version-Resource-Tool-for-Windows
verpatch/
