[Desktop Entry]
Name=opsi PackageBuilder Helpviewer
Version=1.0
Exec=/usr/bin/opb-helpviewer
Comment=opsi PackageBuilder - Helpviewer
Icon=/usr/lib/python3/dist-packages/opsiPackageBuilder-8.3.3/help.ico
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=PackageManager;Development;