[Desktop Entry]
Name=opsi PackageBuilder
Version=1.0
Exec=/usr/bin/opsipackagebuilder
Comment=opsi PackageBuilder - packaging tool
Icon=/usr/lib/python3/dist-packages/opsiPackageBuilder-8.0.4/package_256x256.ico
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=PackageManager;Development;