[Desktop Entry]
Name=opsi PackageBuilder
Version=1.0
Exec=/usr/bin/opsipackagebuilder
Comment=opsi PackageBuilder - packaging tool
Icon=/usr/share/opsipackagebuilder/package_256x256.ico
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=PackageManager;Development;